.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    
        
}

@media screen and (max-width: 500px) {
    .footer__links {
        display: block;
        
    }
    
}