.place {
    margin: 0;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px 3.75%;
    
    
               
}

@media screen and (max-width: 768px) {
    .place {
        padding-bottom: 73px;
    }
    
}


@media screen and (max-width: 500px) {
    .place {
        padding-bottom: 50px;
        grid-template-columns: 1fr;
        gap: 32px 3.75%;
    }
    
} 

